﻿<div class="umb-dashboard">
    <div class="umb-dashboard__content">
        <umb-box>
            <umb-box-content>
                <h3>Emailer Configuration</h3>
                <h5>Web.config</h5>
                <p>
                    Before you can start using Izio Emailer you must first configure your smtp settings in your web.config file. Sample settings are displayed below and you can find more information about how <a href="https://msdn.microsoft.com/en-us/library/ms164240(v=vs.110).aspx" target="_blank">in this MSDN article</a>.
                </p>
                <pre>
    &lt;system.net&gt;
        &lt;mailSettings&gt;
            &lt;smtp&gt;
                &lt;network host=&quot;127.0.0.1&quot; userName=&quot;username&quot; password=&quot;password&quot; /&gt;
            &lt;/smtp&gt;
        &lt;/mailSettings&gt;
    &lt;/system.net&gt;
</pre>
                <p>
                    Emailer contact forms can also be configured to use <a href="https://www.google.com/recaptcha" title="Google Recaptcha">Google Recaptcha</a> to protect your forms from spam. To enable Google Recaptcha you will need to include the following script on any page where contact forms will be displayed:
                </p>
                <pre>
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://www.google.com/recaptcha/api.js&quot;&gt;&lt;/script&gt;
</pre>
                <p>
                    You will also need to update your web.config with your Recaptcha site key and client secret, you will need to <a href="https://developers.google.com/recaptcha/intro" title="create an API key pair">create an API key pair</a> if you don't already have one. Once created add the following to your web.config file:
                </p>
                <pre>
    &lt;add key=&quot;RecaptchaSiteKey&quot; value=&quot;Your Site Key&quot;/&gt;
    &lt;add key=&quot;RecaptchaSecret&quot; value=&quot;Your Client Secret&quot;/&gt;
</pre>
                <h5>Javascript</h5>
                <p>
                    Emailer contact forms uses javascript to provide form validation, these scripts can be found in the <em>Scripts</em> folder within your website. These can then be referenced within your template with the following code:
                </p>
                <pre>
    &lt;script type=&quot;text/javascript&quot; src=&quot;/Scripts/jquery-2.1.4.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;/Scripts/verify.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;/Scripts/izio.emailer.js&quot;&gt;&lt;/script&gt;
</pre>
                <p>
                    <em>minified versions of these files are also included</em>
                </p>
                <hr />
                <h4>Usage</h4>
                <p>
                    Create a new contact form by using the menu on the left, once created you can add the contact form to a page using the supplied Emailer Form macro. Alternatively you can embed a contact form in a page using the following code replacing <i>xxx</i> with the unique reference code of the menu you wish to embed:
                </p>
                <code>
                    @Html.Action("Render", "Emailer", new { area = "Emailer", formReference = "xx" })
                </code>
            </umb-box-content>
        </umb-box>
    </div>
</div>