﻿@using System.Configuration
@using Izio.Umbraco.Emailer.Controllers
@model Izio.Umbraco.Emailer.ViewModels.EmailerViewModel

@if (TempData[Model.FormReference + "EmailSent"] == null || (bool)TempData[Model.FormReference + "EmailSent"] == false)
{
    if (Request.Form["FormReference"] == Model.FormReference && ViewData.ModelState.IsValid == false)
    {
        @Html.ValidationSummary()
    }

    using (Html.BeginUmbracoForm<EmailerController>("Submit", FormMethod.Post, new { id = Model.FormReference, area = "Emailer", @class = "contact-form" }))
    {
        <fieldset>
            <ol>
                <li>
                    @Html.LabelFor(m => m.Name, new { Class = "contact-form-label-name" })
                    @Html.TextBoxFor(m => m.Name, new { maxlength = "255", data_validate = "required", Class = "contact-form-input-name" })
                </li>
                <li>
                    @Html.LabelFor(m => m.Email, new { Class = "contact-form-label-email" })
                    @Html.TextBoxFor(m => m.Email, new { maxlength = "255", data_validate = "required,email", Class = "contact-form-input-email" })
                </li>
                <li>
                    @Html.LabelFor(m => m.Subject, new { Class = "contact-form-label-subject" })
                    @Html.TextBoxFor(m => m.Subject, new { maxlength = "255", data_validate = "required", Class = "contact-form-input-subject" })
                </li>
                <li>
                    @Html.LabelFor(m => m.Body, new { Class = "contact-form-label-body" })
                    @Html.TextAreaFor(m => m.Body, new { data_validate = "required", Class = "contact-form-input-body" })
                </li>
                <li>
                    @Html.HiddenFor(m => m.SubmissionStamp)
                    @Html.HiddenFor(m => m.FormReference)
                    @AntiForgery.GetHtml()
                    @if (string.IsNullOrEmpty(ConfigurationManager.AppSettings["RecaptchaSiteKey"]) == false)
                    {
                        <div class="g-recaptcha" data-sitekey="@ConfigurationManager.AppSettings["RecaptchaSiteKey"]"></div>
                    }
                    <input type="submit" value="Submit" class="contact-form-input-submit" />
                </li>
            </ol>
        </fieldset>
    }
}
else
{
    <div class="confirmation">
        @Html.Raw(TempData[Model.FormReference + "ConfirmationMessage"])
    </div>
}