<?xml version="1.0" encoding="utf-8" ?>
<dashBoard>
  <section alias="StartupIzioEmailerDashboardSection">
    <areas>
      <area>izioEmailer</area>
    </areas>
    <tab caption="Getting Started">
      <control showOnce="false" addPanel="false" panelCaption="">
        /App_Plugins/Emailer/backoffice/emailer/default.html
      </control>
    </tab>
  </section>
</dashBoard>