﻿<div ng-controller="Emailer.PickerController">
    <select ng-model="model.value" class="umb-property-editor umb-dropdown" required>
        <option ng-repeat="form in forms" value="{{form.Reference}}" ng-selected="{{form.Reference == model.value}}">{{form.Name}}</option>
    </select>
</div>